@CHARSET "UTF-8";
body, html {
	padding: 0;
	margin: 0;
	background: #E2E2E2;
	font-family:Verdana,sans-serif;
}
div#header {
	height: 70px;
	background: #fff;
	color: #000;
	margin: 0 10px 0 10px;
	border: 1px solid #ccc;
	border-top: 0;
}
div#header h1 {
	margin: 0;
	font-size: 1.6em;
	padding: 8px 0 0 25px;
}
div#header h2 {
	font-size: 0.8em;
	margin: 0;
	padding: 0px 0 0 25px;
	font-style: italic;
	font-weight: normal;
}
div#header div.link {
	margin-top: 43px;
	padding: 5px;
}
div#header div.link a {
	font-size: 12px;
}
a, a:link, a:visited {
	color: #2A5685;
	text-decoration: none;
}
a:hover, a:focus {
	color: #C61A1A;
	text-decoration: underline;
}
div#contents ul {
	padding-left: 20px;
}
div#contents ul li p {
	margin: 5px 0px 15px 0px;
	padding: 0;
}
div#contents ul li {
	list-style: none;
	background: url(../images/icons/bullet.png) no-repeat 8px 3px;
	padding-left: 25px;
}
div#contents ul li.spacer {
	list-style: none; 
	background: none;
	height: 8px;
}
div#contents ul li.important, div#contents ul li.invalid {
	background: url(../images/icons/exclamation.png) no-repeat;
}
div#contents ul li.important a {
	color: #C61A1A;
	font-weight: bold;
}
div#contents ul li.inutile, div#contents ul li.valid {
	background: url(../images/icons/tick.png) no-repeat;
}
div#contents ul li.inutile a {
	color: #279A08;
	font-weight: normal;
	text-decoration: line-through;
}
code {
	background: #EAEAEA;
	font-family: Consolas,Monaco,monospace;
	font-size: 0.9em;
	padding: 1px 3px;
}
/* Menu */
ul#top_menu {
	margin: 1px 0 0 10px;;
	padding: 0;
}
ul#top_menu li {
	list-style: none;
	display: block;
	float: left;
	margin-right: 15px;
}
ul#top_menu li.right {
	float: right;
}
ul#top_menu li.right a {
	font-weight: normal;
}
ul#top_menu li a {
	text-align: center;
	padding: 5px;
	text-decoration: none;
	color: #555;
	font-weight: bold;
	font-size: 12px;
}
ul#top_menu li a.selected {
	background: #fff;
	border: 1px solid #ccc;
	border-top: 0;
}
/* Page */
div#page {
	clear: both;
	padding: 15px 10px 10px 10px;
	font-size: 12px;
}
div#page div#sidebar {
	float: right;
	width: 200px;
	padding-right: 5px;
}
div#page div#sidebar h3:FIRST-CHILD {
	margin-top: 0;
}
div#page div#sidebar p {
	text-align: justify;
}
div#page div#contents {
	background: #fff;
	border: 1px solid #ccc;
	padding: 10px;
}
div#page div#contents.with_sidebar {
	margin-right: 220px;
}
div#contents h1 {
	margin-top: 0;
}
div#contents h1 a {
	color: #000;
	text-decoration: none;
}
div#contents h2 {
	margin-top: 25px;
	margin-bottom: 5px;
}
div#contents p {
	margin-top: 5px;
}
div#contents.textual  {
	font-size: 12px;
	padding: 20px;
	font-family: sans-serif;
}
div#contents.textual h1 {
	line-height: 1.2em;
	margin-bottom: 0.1em;
	padding-bottom: 0;
}
div#contents.textual h1,
div#contents.textual h2,
div#contents.textual h3,
div#sidebar h3,
div#contents.textual h4 {
	border-bottom: 1px solid #aaa;
	color: #000;
	font-weight: normal;
	margin: 0;
	padding-bottom: 0.17em;
	padding-top: 0.5em;
	clear: both;
}
form.formatted p , div.form_p {
	clear: left;
	margin: 0;
	padding: 5px 0 8px 180px;
}
form.formatted p label {
	float: left;
	font-weight: bold;
	margin-left: -180px;
	text-align: right;
	width: 175px;
}
label.clean {
	width: auto !important;
	font-weight: normal !important;
	margin-left: 0 !important;
	text-align: left !important;
	float: none !important;
}
div.box {
	background-color: #F9F9F9;
	border: 1px solid #E4E4E4;
	color: #505050;
	padding: 5px;
}
div.box.little {
	width: 250px;
}
div.box.right {
	float: right;
	margin-left: 10px;
}
div.box h3 {
	margin: 2px 0 0 5px;
}
div.box p {
	margin: 0 !important;
	padding: 5px 10px;
}
div.box.success {
	background: #B8FFA4 url(../images/icons/accept.png) no-repeat 10px 10px;
	border: 1px solid #45BE24;
	padding-left: 25px;
	margin-bottom: 10px;
}
div.box.error {
	background: #FFA4A4 url(../images/icons/exclamation.png) no-repeat 10px 10px;
	border: 1px solid #DE2323;
	padding-left: 25px;
	margin-bottom: 10px;
}
div.box ul {
	padding-left: 5px;
}
div.link.right {
	float: right;
}
div.link a.add {
	padding-left: 16px;
	background: url(../images/icons/bullet_add.png) no-repeat;
}
div.link a.edit {
	padding-left: 16px;
	background: url(../images/icons/bullet_orange.png) no-repeat;
}
div.link a.delete {
	padding-left: 16px;
	background: url(../images/icons/bullet_delete.png) no-repeat;
}
div.link a.compile {
	padding-left: 16px;
	background: url(../images/icons/bullet_disk.png) no-repeat;
}
div.link a.compile_json {
	padding-left: 16px;
	background: url(../images/icons/bullet_feed.png) no-repeat;
}
div.link a.group {
	padding-left: 16px;
	background: url(../images/icons/group.png) no-repeat;
}
div.link a.separator {
	border-left: 1px solid #999999;
}
div.clear {
	clear: both;
}
div.message {
	padding: 5px;
	text-align: center;
}
div.message p {
	font-size:1.2em;
	margin-bottom: 10px;
	margin-top: 10px;
}
div.message.error {
	background: #FFA4A4;
	border: 1px solid #DE2323;
}
div.message.success {
	background: #B8FFA4;
	border: 1px solid #45BE24;
}
/* Footer */
div#footer {
	color: #888;
	font-size: 11px;
	text-align: center;
}
div#footer a {
	text-decoration: none;
	color: #888;
}